.rightSide .firstSect p {
    margin: 0;
    padding: 0;
    line-height: 55px;
    letter-spacing: 5px;
}

.mainCont {
    background: #e7e7e7;
    display: flex;
}

.leftSide {
    height: auto;
    width: 25%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstSect {
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
}

.myPhoto {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.descItem {
    text-align: right;
    width: 250px;
}

.introTitle {
    font-weight: bold;
    color: var(--text-color)
}

.introDesc {
    color: var(--secondary-text-color)
}

.aboutMe {
    text-align: left;
    width: 100%;
    font-weight: 450;
    font-size: 20px;
    color: var(--text-color);
    margin: -5px 0 0 0;
}

.secondSect {
    height: 250px;
}

.rightSide {
    width: 70%;
    background: #fff;
    padding: 0 5rem;
}

.rightSide .firstSect {
    border-bottom: 3px solid var(--secondary-text-color);
}

.name {
    font-size: 70px;
    width: 100%;
    text-align: left;
    color: var(--orange-text-color);
    font-weight: bold;
}

.surname {
    font-size: 60px;
    width: 100%;
    text-align: left;
    color: var(--text-color);
}

.jobPref {
    width: 100%;
    text-align: left;
    margin-top: 1rem;
    color: var(--secondary-text-color);
    font-size: 1.5rem;
}

.icon {
    font-size: 35px !important;
    margin-right: 10px;
    cursor: pointer;
}

.customIcon {
    width: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.iconsCont {
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    margin-top: 3rem;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.infoItem {
    text-align: left;
    font-size: 20px;
}

.infoTitle {
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

.infoDesc {
    color: var(--secondary-text-color);
}

.thirdSect {
    height: 650px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.rightSide .thirdSect {
    overflow-y: auto;
}

.leftSide .thirdSect {
    margin-top: 2rem;
    width: 250px;
}

.thirdSect .workItem {
    display: flex;
    width: 40%;
    margin-top: 2rem;
    min-width: 400px;
}

.thirdSect .workItemNumber {
    width: 15%;
    min-width: 15%;
    font-size: 32px;
    color: var(--orange-text-color);
    font-weight: bold;
}

.workItemExactly {
    display: flex;
    flex-direction: column;
}

.workItemTitle {
    text-align: left;
    font-size: 32px;
    color: var(--text-color);
}

.workItemDescription {
    text-align: left;
    margin-top: 0.5rem;
    color: var(--secondary-text-color);
    font-size: 20px;
}

.fourthSect {
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.rightSide .fourthSect {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.featureCont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    min-width: 250px;
    font-size: 32px;
    color: var(--orange-text-color);
    margin-top: 2rem;
}

.featIcon {
    margin-right: 10px;
    font-size: 3rem !important;
}

.featText {
    color: var(--text-color)
}