.mainContBio{
    height: calc(100vh - 50px) !important;
    display: flex;
    flex-direction: column;
}

.firstSect .rightSide p{
    margin: 0;
    padding: 0;
    line-height: 55px;
    letter-spacing: 5px;
}

.firstSect{
    display: flex;
}

.firstSect .rightSide{
    border-bottom: 3px solid #e7e7e7;
}

.leftSide {
    width: 20%;
    min-width: 90px;
    background: #e7e7e7;
    padding-right: 1rem;
    display: flex;
    align-items: center;
}
.rightSide{
    width: 80%;
    background: #fff;
    padding: 1rem;
    border-bottom: 3px solid #e7e7e7;
}

.myPhoto {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: -1rem;
}
.firstSect .leftSide{
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    font-size: 70px;
    width: 100%;
    text-align: left;
    color: var(--orange-text-color);
    font-weight: bold;
}

.surname {
    font-size: 60px;
    width: 100%;
    text-align: left;
    color: var(--text-color);
}

.jobPref {
    width: 100%;
    text-align: left;
    margin-top: 0.5rem;
    color: var(--secondary-text-color);
    font-size: 1.5rem;
}

.icon {
    font-size: 35px !important;
    margin-right: 10px;
    cursor: pointer;
}

.iconsCont {
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    border-bottom: 3px solid var(--secondary-text-color);
    padding-bottom: 0.5rem;
}

.info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 3rem;
}

.infoItem {
    text-align: left;
    font-size: 20px;
}

.infoTitle {
    font-weight: bold;
    color: var(--text-color);
}

.infoDesc {
    color: var(--secondary-text-color);
}



.secondSect{
    display: flex;
}
.descItem {
    text-align: right;
    width: 100%;
}
.introTitle {
    font-weight: bold;
    color: var(--text-color)
}

.introDesc {
    color: var(--secondary-text-color)
}
.aboutMe {
    text-align: left;
    width: 100%;
    font-weight: 450;
    font-size: 20px;
    color: var(--text-color);
    margin: -5px 0 0 0;
}


.thirdSect{
    display: flex;
}
.thirdSect .rightSide{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.thirdSect .workItem {
    display: flex;
    width: 45%;
}
.thirdSect .row{
    width: 100%;
    margin-top: 5px;
}
.thirdSect .row:first-child{
    margin-top: 0;
}


.workItemNumber {
    margin-right: 5px;
    font-size: 26px;
    color: var(--orange-text-color);
    font-weight: bold;
    text-align: center;
}

.workItemExactly {
    display: flex;
    flex-direction: column;
}

.workItemTitle {
    text-align: left;
    font-size: 26px;
    color: var(--text-color);
}

.workItemDescription {
    text-align: left;
    color: var(--secondary-text-color);
    font-size: 18px;
}



.fourthSect{
    display: flex;
}
.fourthSect .rightSide{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.fourthSect .row{
    margin-top: 0.5rem;
}
.fourthSect .row:first-child{
    margin-top: 0;
}
.featureCont {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 28px;
    color: var(--orange-text-color);
    min-width: 250px;
}

.featIcon {
    margin-right: 5px;
    font-size: 2rem !important;
    color: #02DCFF;
}

.featText {
    color: var(--text-color)
}

.introduction{
    display: flex;
}

.realIntro{
    display: flex;
    flex-direction: column;
}

.reactLogo{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.reactLogo img{
    width: 125px;
    height: 125px;
}

.reactGIF{
    height: 158px;
    width: 158px;
}

@media (max-width: 1400px) {
    .featureCont{
        width: 50%;
    }
    .fourthSect .rightSide{
        height: auto;
    }
}
@media (max-width: 1300px) {
    .myPhoto{
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 1000px) {
    .myPhoto{
        width: 150px;
        height: 150px;
    }
    .workItem{
        width: 100% !important;
    }
    .thirdSect .rightSide{
        flex-direction: column;
    }
    .featureCont{
        width: 100%;
    }
    .row{
        margin-top: 0 !important;
    }
}

@media (max-width: 800px) {
    .myPhoto{
        width: 100px;
        height: 100px;
    }
    .info{
        margin-top: 1rem;
    }
    .iconsCont{
        padding-bottom: 1rem;
        margin-top: 1rem;
    }
    .infoItem{
        width: 100%;
    }
    .infoTitle{
        margin-bottom: 0;
    }
    .reactLogo{
        display: none;
    }
}

@media (max-width: 600px) {
    .myPhoto{
        width: 75px;
        height: 75px;
    }
    .rightSide{
        padding: 0 1rem 1rem 1rem !important;
    }
    .workItem{
        margin-top: 1rem !important;
    }
    .workItemDescription{
        margin-top: 0;
    }
}

@media (max-width: 500px) {
    .workItemNumber, .workItemTitle{
        font-size: 24px;
    }
    .workItemDescription{
        font-size: 16px;
    }
    .thirdSect .rightSide{
        margin-top: -1rem !important;
    }
    .workItem{
        margin-top: 0.5rem !important;
    }
    .fourthSect .rightSide{
        flex-direction: column;
        margin-top: -0.5rem;
        align-items: flex-start;
        margin-bottom: 0;
    }
    .featureCont{
        margin-top: 0.5rem;
        min-width: 200px;
    }
    .featText{
        font-size: 24px;
    }
}

@media (max-width: 400px) {
    .myPhoto{
        display: none;
    }
    .firstSect .leftSide{
        display: none;
    }
    .firstSect .rightSide{
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .name, .surname, .jobPref{
        width: auto;
    }
    .infoItem{
        text-align: center;
    }
    .iconsCont{
        justify-content: center;
    }
    .workItemNumber{
        display: none;
    }
    .workItemTitle{
        color: var(--orange-text-color);
    }
    .workItemTitle{
        font-size: 20px;
    }
    .workItemDescription{
        font-size: 14px;
        width: 200px;
    }
}

.fifthSect{
    display: flex;
    height: 1000px;
}
.fifthSect .leftSide{
    padding-top: 1rem;
}
.fifthSect .rightSide{
    padding-top: 1rem;
    display: flex;
    overflow: hidden;
    position: relative;
}

.workHistoryItemCont{
    width: calc(25% - 1rem);
    height: 100px;
    border: 1px solid var(--secondary-text-color);
    border-radius: 15px;
    padding: 0.5rem 0.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 1rem;
    position: relative;
}

.workHistoryItemCont:after{
    position: absolute;
    content: "";
    height: 25px;
    width: 2px;
    bottom: -25px;
    right: 50%;
    background: var(--text-color);
}
.workHistoryItemCont:before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: -25px;
    left: calc(50% - 6px);
    background: #000;
    z-index: 999;
}

.workHistoryItemCont .year{
    font-weight: bold;
    font-size: 20px;
}
.workHistoryItemCont .companyName{
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
    color: var(--text-color);
}
.workHistoryItemCont .companyDesc{
    font-size: 18px;
}

.fifthSect .rightSide:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 135px;
    left: 0;
    background: var(--text-color);
}