.navbar{
    width: 100%;
    background: #212429;
    color: #fff;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 99999999;
    position: relative;
}

.container{
    width: 1600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.decoration {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.decoration::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: gray;
    transition: width .3s;
}

.decoration:hover::after {
    width: 100%;
    transition: width .3s;
}

@media (max-width: 800px) {
    .decoration{
        font-size: 1rem;
    }
}